<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <h1 id="heading">Welcome to the future</h1>
    <form action="" method="post" id="form">
        <table id="signin">
            <tr>
                <td class="leftalign">Username :</td>
                <td ><input type="text" name="uname" id="uname" size = "15"></td>
            </tr>
            <tr>
                <td class="leftalign">Password :</td>
                <td><input type="password" name="password" id="password" size="15"></td>
            </tr>
        </table>
        <div class="signup">Don't have an account? <a href="/signup">sign up</a> </div>
        <div class="messege">{{info}}</div>
        <div id="submit">
            
            <input type="submit" value="Login" id="submitbtn">
        </div>
        
    </form>
    
</body>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
</html>